@import "tailwindcss";
@variant dark (&:is(.dark, .dark *));
/* LIGHT MODE */
:root {
  --background: 226 232 240;
  --foreground: 23 23 23;

  --header: 249 250 251 / 0.8;  
}

/* DARK MODE */
.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;

  --header: 3 7 18 / 0.8; 
}


@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));

  --color-header: rgb(var(--header));
}

.gradient-heading { background-image: linear-gradient(to right, #00adee, #4827D0); -webkit-background-clip: text; background-clip: text; color: transparent; }

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.25s ease, color 0.25s ease;
}
