@import "tailwindcss";

/* LIGHT MODE */
:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

/* DARK MODE */
.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

/* Map variables to Tailwind colors */
@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.25s ease, color 0.25s ease;
}
